@font-face {
    font-family: 'Conduit';
    src: url('../fonts/Conduit/Conduit.ttf') format('truetype');
}

@font-face {
    font-family: 'SignPainter';
    src: url('../fonts/SignPainter/SignPainter.otf') format('truetype');
}