$borderColor: #f5a841;
#before-footer {
    border-top: 7px $borderColor solid;
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    #before-footer {
        p {
            font-size: 13px;
        }
    }
}