$headTextColor: #f5a841;
#characteristics {
    border-bottom: 3px #f5a841 solid;
    background-image: url(../img/advantages/bg-assortment.jpg);
    h2 {
        color: $headTextColor;
        font-size: 60px;
    }
    ul {
        font-family: 'Open Sans', sans-serif;
        list-style: none;
        li {
            font-size: 21px;
            span {
                color: #f4160e;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #characteristics {
        h2 {
            font-size: 36px;
            text-align: center;
        }
        ul {
            li {
                font-size: 18px;
            }
        }
    }
}