$secondTextColor: #f5a841;
body.yoyaLulka {
    #top-part {
        .description {
            .under-get-text {
                font-size: 24px !important;
            }
        }
    }
}

#top-part {
    article {
        background-image: url(../img/product-details/top-bg.png);
        @include background;
        min-height: 825px;
    }
    h2 {
        font-size: 60px;
    }
    h4 {
        font-size: 42px;
        color: $secondTextColor;
    }
    #productCarousel {
        .carousel-indicators {
            bottom: -90px;
            img {
                width: 55px;
                height: 55px;
                cursor: pointer;
            }
        }
        .carousel-inner {
            .carousel-item {
                justify-content: center;
                align-items: center;
            }
        }
        i {
            color: #000;
            font-size: 23px;
            background-color: white;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            &.fa-angle-right {
                padding-left: 4px;
            }
            &.fa-angle-left {
                padding-right: 4px;
            }
        }
    }
    .under-carousel {
        .product-name {
            font-size: 29px;
        }
        .in-stock {
            font-size: 25px;
            color: #fff;
            background-color: #f5a841;
            font-style: italic;
        }
    }
    // Right block
    .right-block {
        h5 {
            font-size: 42px;
        }
        p {
            color: $secondTextColor;
            font-size: 29px;
            &.get-rama {
                color: #333;
                font-size: 27px;
            }
        }
        .back {
            color: #fff;
            font-size: 25px;
            background-color: #f5a841;
            font-style: italic;
        }
        .choose {
            select {
                background-color: unset;
                width: 165px;
            }
        }
        .price {
            p {
                font-size: 69px;
            }
            .get {
                font-family: "Open Sans";
                font-style: normal;
                font-size: 38px;
                text-transform: uppercase;
                background-color: #ffef50;
                color: #1f1e16;
                border-radius: 5px;
            }
        }
        .description {
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 21px;
                color: #333;
                line-height: 1.2;
                &.under-get-text {
                    font-family: 'Conduit';
                    font-size: 29px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #top-part {
        h2 {
            font-size: 36px;
        }
        h4 {
            font-size: 32px;
        }
        #productCarousel .carousel-indicators {
            bottom: -135px;
        }
        .under-carousel {
            margin-top: 140px;
            .product-name {
                font-size: 25px;
            }
            .in-stock {
                font-size: 18px;
            }
        }
        .right-block {
            .price {
                text-align: center;
                p {
                    font-size: 50px;
                }
                .get {
                    font-size: 26px;
                }
            }
            .back {
                font-size: 17px;
            }
            .choose {
                select {
                    width: 125px;
                }
            }
            h5 {
                text-align: center;
                font-size: 36px;
            }
            p {
                font-size: 22px;
                &.get-rama {
                    font-size: 20px;
                }
            }
            .description {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}