@font-face {
  font-family: 'Conduit';
  src: url("../fonts/Conduit/Conduit.ttf") format("truetype"); }

nav {
  min-height: 185px;
  background-image: url(../img/nav/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center; }
  nav .mobile-logo {
    display: none; }
  nav ul a.nav-link {
    color: #333333;
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0; }
  nav .phones ul {
    list-style: none; }
    nav .phones ul li {
      font-size: 24px;
      color: #ffa800;
      font-style: italic; }

header .baby-image-block {
  position: absolute;
  top: 3%;
  z-index: -1; }

header .right-side {
  font-style: italic; }
  header .right-side .head-text h2 {
    color: #f5a841;
    font-size: 87px; }
  header .right-side .head-text h3 {
    font-size: 55px; }
  header .right-side .price {
    font-size: 40px; }
    header .right-side .price .line-through {
      text-decoration: line-through;
      color: #f5a841; }
    header .right-side .price span {
      color: #f5a841; }
  header .right-side form {
    background-color: #abf2fc; }
    header .right-side form input {
      border-radius: 0;
      border: 1px #fff solid; }
      header .right-side form input::placeholder {
        font-size: 13px;
        color: #333333; }
    header .right-side form button {
      background-color: #f5a841;
      width: 100%;
      border-radius: 0 !important;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff; }
  header .right-side .under-form h3 {
    color: #f5a841;
    font-size: 33px; }
  header .right-side .under-form .youtube-block {
    color: #333333; }

#advantages {
  min-height: 660px;
  background-image: url(../img/advantages/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  font-style: italic; }
  #advantages h1 {
    color: #f5a841;
    font-size: 67px; }
  #advantages h4 {
    font-size: 30px;
    color: #f5a841; }
  #advantages h5 {
    font-size: 21px; }
  #advantages a {
    font-size: 28px;
    text-decoration: underline;
    color: #f5a841; }

#details {
  font-style: italic; }
  #details h1 {
    font-size: 67px;
    color: #f5a841; }
  #details img {
    max-width: 570px; }
  #details img.list-image {
    max-width: 85%; }
  #details ul li {
    font-size: 20px; }
    #details ul li span {
      color: #f5a841; }

#product {
  font-style: italic; }
  #product .black-and-white {
    width: unset;
    cursor: default; }
  #product .target,
  #product .target1,
  #product .target2,
  #product .target3 {
    display: none; }
  #product .target#div1,
  #product .target1#div6,
  #product .target2#div11,
  #product .target3#div13 {
    display: flex; }
  #product .item {
    box-shadow: 0 0 5px #D3D3D3;
    max-width: 85%;
    margin: 0 auto; }
  #product h1 {
    font-size: 67px;
    color: #f5a841; }
  #product img {
    max-width: 255px;
    display: block;
    margin: 0 auto; }
  #product h2,
  #product small,
  #product p {
    font-style: normal; }
  #product small {
    margin-bottom: 1rem;
    display: block; }
  #product h2 {
    color: #333333;
    font-size: 36px; }
  #product p {
    font-size: 36px;
    color: #ffa800;
    margin-bottom: 0; }
  #product a {
    cursor: pointer;
    color: #fff;
    background-color: #f5a841;
    font-size: 25px;
    width: 100%;
    display: block;
    text-align: center; }
    #product a:hover {
      text-decoration: none; }
    #product a.activeted {
      color: #000;
      text-decoration: underline;
      background-color: unset; }
    #product a.activeted1 {
      color: #000;
      text-decoration: underline;
      background-color: unset; }
    #product a.activeted2 {
      color: #000;
      text-decoration: underline;
      background-color: unset; }
    #product a.activeted3 {
      color: #000;
      text-decoration: underline;
      background-color: unset; }
    #product a.get {
      font-family: "Open Sans";
      font-style: normal;
      font-size: 19px;
      text-transform: uppercase;
      background-color: #ffef50;
      color: #1f1e16;
      width: 40%;
      margin: 0 auto;
      border-radius: 5px; }
    #product a.view-more {
      background-color: unset;
      color: #ffa800;
      text-decoration: underline;
      font-size: 20px; }

#accessories {
  font-style: italic; }
  #accessories h1 {
    color: #f5a841;
    font-size: 67px; }
  #accessories .item {
    box-shadow: 0 0 5px #D3D3D3;
    max-width: 100%;
    margin: 0 auto; }
  #accessories h1 {
    font-size: 67px;
    color: #f5a841; }
  #accessories h2,
  #accessories small,
  #accessories p {
    font-style: normal; }
  #accessories small {
    margin-bottom: 1rem;
    display: block; }
  #accessories h2 {
    color: #333333;
    font-size: 27px; }
  #accessories p {
    font-size: 36px;
    color: #ffa800;
    margin-bottom: 0; }
  #accessories a.showSingle4 {
    cursor: pointer;
    color: #fff;
    background-color: #f5a841;
    font-size: 25px;
    width: 100%;
    display: block;
    text-align: center; }
  #accessories a.activeted4 {
    color: #000;
    text-decoration: underline;
    background-color: unset; }
  #accessories a.get {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 19px;
    text-transform: uppercase;
    background-color: #ffef50;
    color: #1f1e16;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    display: block; }
  #accessories a.view-more {
    background-color: unset;
    color: #ffa800;
    text-decoration: underline;
    font-size: 20px;
    display: block; }
  #accessories img {
    max-width: 65%; }
  #accessories #carousel-accessories .fa {
    font-size: 100px;
    color: #f5a841; }
  #accessories #carousel-accessories .carousel-control-prev {
    left: -10%; }
  #accessories #carousel-accessories .carousel-control-next {
    right: -10%; }

#we-work {
  font-style: italic; }
  #we-work h1 {
    font-size: 67px;
    color: #f5a841; }
  #we-work .right-side {
    font-style: italic; }
    #we-work .right-side .head-text h2 {
      color: #f5a841;
      font-size: 87px; }
    #we-work .right-side .head-text h3 {
      font-size: 55px; }
    #we-work .right-side .price {
      font-size: 40px; }
      #we-work .right-side .price .line-through {
        text-decoration: line-through;
        color: #f5a841; }
      #we-work .right-side .price span {
        color: #f5a841; }
    #we-work .right-side form {
      background-color: #abf2fc; }
      #we-work .right-side form input {
        border-radius: 0;
        border: 1px #fff solid; }
        #we-work .right-side form input::placeholder {
          font-size: 13px;
          color: #333333; }
      #we-work .right-side form button {
        background-color: #f5a841;
        width: 100%;
        border-radius: 0 !important;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff; }
    #we-work .right-side .under-form h3 {
      color: #f5a841;
      font-size: 33px; }
    #we-work .right-side .under-form .youtube-block {
      color: #333333; }

#plus {
  font-style: italic; }
  #plus h1 {
    font-size: 67px;
    color: #f5a841; }
  #plus h4 {
    font-size: 18px;
    font-style: normal; }
  #plus p {
    font-size: 14px;
    font-style: normal; }
    #plus p:before {
      content: '';
      height: 2px;
      background-color: #33ccff;
      position: absolute;
      left: -23%;
      width: 20%;
      margin-top: 12%; }

#feedback {
  background-image: url(../img/feedback/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  min-height: 600px;
  font-style: italic; }
  #feedback h1 {
    font-size: 67px;
    color: #f5a841; }
  #feedback .carousel-indicators .active {
    background-color: unset !important; }
  #feedback .carousel-indicators i {
    color: #aeaeae; }
  #feedback .carousel-indicators i.active {
    color: #dcdcdc; }
  #feedback .carousel-control-prev i,
  #feedback .carousel-control-next i {
    font-size: 100px;
    color: #dcdcdc; }
  #feedback .carousel-item .carousel-caption {
    position: static;
    max-width: 60%; }
    #feedback .carousel-item .carousel-caption p {
      color: #333;
      font-size: 25px;
      text-align: center; }

#contacts {
  font-style: italic; }
  #contacts h1 {
    font-size: 67px;
    color: #f5a841; }
  #contacts .street {
    height: 100%; }
    #contacts .street h5 {
      font-size: 56px;
      color: #aaabab; }
  #contacts #map {
    width: 100%;
    height: 425px; }

footer {
  min-height: 255px;
  background-image: url(../img/footer/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center; }
  footer img {
    max-width: 80%; }
  footer button.btn {
    background-color: #ffa800;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: initial; }
  footer ul {
    list-style: none; }
    footer ul li:first-child {
      font-size: 25px; }
    footer ul li {
      font-size: 20px;
      color: #ffa800;
      font-style: italic; }

body {
  font-family: 'Conduit' !important; }
