@font-face {
  font-family: 'Conduit';
  src: url("../fonts/Conduit/Conduit.ttf") format("truetype"); }

nav {
  min-height: 185px;
  background-image: url(../img/nav/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center; }
  nav .mobile-logo {
    display: none; }
  nav ul a.nav-link {
    color: #333333;
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0; }
  nav .phones ul {
    list-style: none; }
    nav .phones ul li {
      font-size: 24px;
      color: #ffa800;
      font-style: italic; }

header .baby-image-block {
  position: absolute;
  top: 3%;
  z-index: -1; }

header .right-side {
  font-style: italic; }
  header .right-side .head-text h2 {
    color: #f5a841;
    font-size: 87px; }
  header .right-side .head-text h3 {
    font-size: 55px; }
  header .right-side .price {
    font-size: 40px; }
    header .right-side .price .line-through {
      text-decoration: line-through;
      color: #f5a841; }
    header .right-side .price span {
      color: #f5a841; }
  header .right-side form {
    background-color: #abf2fc; }
    header .right-side form input {
      border-radius: 0;
      border: 1px #fff solid; }
      header .right-side form input::placeholder {
        font-size: 13px;
        color: #333333; }
    header .right-side form button {
      background-color: #f5a841;
      width: 100%;
      border-radius: 0 !important;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff; }
  header .right-side .under-form h3 {
    color: #f5a841;
    font-size: 33px; }
  header .right-side .under-form .youtube-block {
    color: #333333; }

#advantages {
  min-height: 660px;
  background-image: url(../img/advantages/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  font-style: italic; }
  #advantages h1 {
    color: #f5a841;
    font-size: 67px; }
  #advantages h4 {
    font-size: 30px;
    color: #f5a841; }
  #advantages h5 {
    font-size: 21px; }
  #advantages a {
    font-size: 28px;
    text-decoration: underline;
    color: #f5a841; }

#details {
  font-style: italic; }
  #details h1 {
    font-size: 67px;
    color: #f5a841; }
  #details img {
    max-width: 570px; }
  #details img.list-image {
    max-width: 85%; }
  #details ul li {
    font-size: 20px; }
    #details ul li span {
      color: #f5a841; }

#product {
  font-style: italic; }
  #product h1 {
    font-size: 67px;
    color: #f5a841; }
  #product a {
    color: #fff;
    background-color: #f5a841;
    font-size: 25px;
    width: 100%;
    display: block;
    text-align: center; }
    #product a:hover {
      text-decoration: none; }
    #product a.active {
      color: #000;
      text-decoration: underline;
      background-color: unset; }

#we-work {
  font-style: italic; }
  #we-work h1 {
    font-size: 67px;
    color: #f5a841; }
  #we-work .right-side {
    font-style: italic; }
    #we-work .right-side .head-text h2 {
      color: #f5a841;
      font-size: 87px; }
    #we-work .right-side .head-text h3 {
      font-size: 55px; }
    #we-work .right-side .price {
      font-size: 40px; }
      #we-work .right-side .price .line-through {
        text-decoration: line-through;
        color: #f5a841; }
      #we-work .right-side .price span {
        color: #f5a841; }
    #we-work .right-side form {
      background-color: #abf2fc; }
      #we-work .right-side form input {
        border-radius: 0;
        border: 1px #fff solid; }
        #we-work .right-side form input::placeholder {
          font-size: 13px;
          color: #333333; }
      #we-work .right-side form button {
        background-color: #f5a841;
        width: 100%;
        border-radius: 0 !important;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff; }
    #we-work .right-side .under-form h3 {
      color: #f5a841;
      font-size: 33px; }
    #we-work .right-side .under-form .youtube-block {
      color: #333333; }

#feedback {
  background-image: url(../img/feedback/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  min-height: 600px;
  font-style: italic; }
  #feedback h1 {
    font-size: 67px;
    color: #f5a841; }
  #feedback .carousel-indicators .active {
    background-color: unset !important; }
  #feedback .carousel-indicators i {
    color: #aeaeae; }
  #feedback .carousel-indicators i.active {
    color: #dcdcdc; }
  #feedback .carousel-control-prev i,
  #feedback .carousel-control-next i {
    font-size: 100px;
    color: #dcdcdc; }
  #feedback .carousel-item .carousel-caption {
    position: static;
    max-width: 60%; }
    #feedback .carousel-item .carousel-caption p {
      color: #333;
      font-size: 25px;
      text-align: center; }

#contacts {
  font-style: italic; }
  #contacts h1 {
    font-size: 67px;
    color: #f5a841; }
  #contacts .street {
    height: 100%; }
    #contacts .street h5 {
      font-size: 56px;
      color: #aaabab; }
  #contacts #map {
    width: 100%;
    height: 425px; }

footer {
  min-height: 255px;
  background-image: url(../img/footer/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center; }
  footer img {
    max-width: 80%; }
  footer button.btn {
    background-color: #ffa800;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: initial; }
  footer ul {
    list-style: none; }
    footer ul li:first-child {
      font-size: 25px; }
    footer ul li {
      font-size: 20px;
      color: #ffa800;
      font-style: italic; }

body {
  font-family: 'Conduit' !important; }
