@font-face {
  font-family: 'Conduit';
  src: url("../fonts/Conduit/Conduit.ttf") format("truetype"); }

nav {
  min-height: 185px;
  background-image: url(../img/nav/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center; }
  nav ul a.nav-link {
    color: #333333;
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0; }
  nav .phones ul {
    list-style: none; }
    nav .phones ul li {
      font-size: 20px;
      color: #ffa800;
      font-style: italic; }

header .right-side {
  font-style: italic; }
  header .right-side .head-text h2 {
    color: #f5a841;
    font-size: 87px; }
  header .right-side .head-text h3 {
    font-size: 55px; }
  header .right-side .price {
    font-size: 40px; }
    header .right-side .price .line-through {
      text-decoration: line-through;
      color: #f5a841; }
    header .right-side .price span {
      color: #f5a841; }
  header .right-side form {
    background-color: #abf2fc; }
    header .right-side form input {
      border-radius: 0;
      border: 1px #fff solid; }
      header .right-side form input::placeholder {
        font-size: 13px;
        color: #333333; }
    header .right-side form button {
      background-color: #f5a841;
      width: 100%;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff; }
  header .right-side .under-form h3 {
    color: #f5a841;
    font-size: 33px; }

body {
  font-family: 'Conduit' !important; }
