$textColor: #333;
$headerColor:#f5a841;
$carouselIndicators: #aeaeae;
$carouselIndicatorsActive: #dcdcdc;
#feedback {
    background-image: url(../img/feedback/background.png);
    @include background;
    min-height: 600px;
    font-style: italic;
    h1 {
        font-size: 67px;
        color: $headerColor;
    }
    .carousel-indicators .active {
        background-color: unset !important;
    }
    .carousel-indicators {
        i {
            color: $carouselIndicators
        }
        i.active {
            color: $carouselIndicatorsActive;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        i {
            font-size: 100px;
            color: #dcdcdc;
        }
    }
    .carousel-item {
        .carousel-caption {
            position: static;
            max-width: 60%;
            p {
                color: $textColor;
                font-size: 25px;
                text-align: center;
            }
        }
    }
}