$textColor: #333;
$headerColor:#f5a841;
$carouselIndicators: #aeaeae;
$carouselIndicatorsActive: #dcdcdc;
#feedback {
    background-image: url(../img/feedback/background.png);
    @include background;
    min-height: 675px;
    font-style: italic;
    h1 {
        font-size: 67px;
        color: $headerColor;
    }
    .carousel-indicators .active {
        background-color: unset !important;
    }
    .carousel-indicators {
        i {
            color: $carouselIndicators
        }
        i.active {
            color: $carouselIndicatorsActive;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        i {
            font-size: 100px;
            color: #dcdcdc;
        }
    }
    .carousel-item {
        img {
            width: 150px;
            height: 150px;
        }
        .carousel-caption {
            position: static;
            max-width: 80%;
            min-height: 300px;
            h5 {
                color: $textColor;
            }
            p {
                color: $textColor;
                font-size: 25px;
                text-align: center;
            }
        }
    }
    .carousel-item.avtive {
        img {
            width: 150px;
            height: 150px;
        }
        .carousel-caption {
            min-height: 300px;
        }
    }
}

@media screen and (max-width: 768px) {
    #feedback {
        h1 {
            font-size: 36px;
        }
        .carousel-item .carousel-caption p {
            font-size: 18px;
        }
        .carousel-control-prev i,
        .carousel-control-next i {
            font-size: 70px;
        }
    }
}