$linksColor: #ffa800;
$menuItemsColor: #333333;
nav {
    min-height: 185px;
    background-image: url(../img/nav/background.png);
    @include background;
    .mobile-logo {
        display: none;
    }
    ul {
        a.nav-link {
            color: $menuItemsColor;
            font-size: 23px;
            font-style: italic;
            font-weight: 500;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .phones {
        ul {
            list-style: none;
            li {
                font-size: 24px;
                color: $linksColor;
                font-style: italic;
            }
        }
    }
}