$headerColor:#f5a841;
$viewMore: #ffef50;
$priceColor: #ffa800;
$textColor: #1f1e16;
$productName: #333333;
#product {
    font-style: italic;
    .black-and-white {
        width: unset;
        cursor: default;
        background-color: unset;
        color: #333;
    }
    .target,
    .target1,
    .target2,
    .target3 {
        display: none;
    }
    .target#div1,
    .target1#div6,
    .target2#div11,
    .target3#div13 {
        display: flex;
    }
    .item {
        box-shadow: 0 0 5px #D3D3D3;
        max-width: 85%;
        margin: 0 auto;
    }
    h1 {
        font-size: 67px;
        color: $headerColor;
    }
    img {
        max-width: 255px;
        display: block;
        margin: 0 auto;
    }
    h2,
    small,
    p {
        font-style: normal;
    }
    small {
        margin-bottom: 1rem;
        display: block;
    }
    h2 {
        color: $productName;
        font-size: 36px;
    }
    p {
        font-size: 36px;
        color: $priceColor;
        margin-bottom: 0;
    }
    a {
        cursor: pointer;
        color: #fff;
        background-color: $headerColor;
        font-size: 25px;
        width: 100%;
        display: block;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
        &.activeted {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.activeted1 {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.activeted2 {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.activeted3 {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.get {
            font-family: "Open Sans";
            font-style: normal;
            font-size: 19px;
            text-transform: uppercase;
            background-color: $viewMore;
            color: $textColor;
            width: 40%;
            margin: 0 auto;
            border-radius: 5px;
        }
        &.view-more {
            background-color: unset;
            color: $priceColor;
            text-decoration: underline;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    #product {
        h1 {
            font-size: 36px;
        }
        a {
            font-size: 18px;
        }
        img {
            max-width: 225px;
        }
    }
}