$contactLinksColor: #ffa800;
$buttonBg: #ffa800;
footer {
    min-height: 255px;
    background-image: url(../img/footer/background.png);
    @include background;
    img {
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
    button.btn {
        background-color: $buttonBg;
        @include button;
        font-weight: 600;
        text-transform: initial;
    }
    ul {
        list-style: none;
        li:first-child {
            font-size: 25px;
        }
        li {
            a {
                font-size: 20px;
                color: $contactLinksColor;
                font-style: italic;
                &:hover {
                    text-decoration: none;
                    color: $contactLinksColor;
                }
            }
        }
    }
}