$linksColor: #ffa800;
$barsColor: #ffa800;
$menuItemsColor: #333333;
nav {
    min-height: 185px;
    background-image: url(../img/nav/background.png);
    @include background;
    .mobile-logo {
        display: none;
    }
    .mobile-content {
        display: none;
    }
    .fa-bars {
        font-size: 2.2rem;
        color: $barsColor;
    }
    ul {
        a.nav-link {
            color: $menuItemsColor;
            font-size: 23px;
            font-style: italic;
            font-weight: 500;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .phones {
        ul {
            list-style: none;
            li {
                a {
                    font-size: 24px;
                    color: $linksColor;
                    font-style: italic;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    nav {
        .container {
            .phones {
                margin: 0 auto;
            }
            .mobile-content {
                display: flex;
            }
            .pc-content {
                display: none;
            }
        }
        .icons {
            img {
                margin: 0 auto;
                display: block;
            }
        }
        .pc-logo {
            display: none;
        }
        ul.navbar-nav {
            text-align: center;
        }
        .navbar-toggler:focus {
            outline: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    nav.navbar {
        .container {
            margin: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    nav.navbar {
        background-image: unset;
        min-height: 100px;
    }
}