$headerColor:#f5a841;
$viewMore: #ffef50;
$priceColor: #ffa800;
$textColor: #1f1e16;
$productName: #333333;
#product {
    article.yoya175 {
        // min-height: 2050px;
        background-image: url(../img/advantages/back.jpg);
        border-bottom: 3px #f5a841 solid;
        // @include background;
    }
    article.yoya175A {
        // min-height: 2050px;
        background-image: url(../img/advantages/bg-assortment.jpg);
        border-bottom: 3px #f5a841 solid;
        // @include background;
    }
    article.yoya175Lulka {
        // min-height: 2550px;
        background-image: url(../img/advantages/back.jpg);
        // @include background;
    }
    article.yoyaPlus {
        background-image: url(../img/advantages/bg-assortment.jpg);
    }
    article.yoyaCare {
        // min-height: 2700px;
        background-image: url(../img/advantages/back.jpg);
        border-bottom: 3px #f5a841 solid;
        // @include background;
    }
    article.yoyaCareWide {
        // min-height: 1550px;
        background-image: url(../img/advantages/bg-assortment.jpg);
        border-bottom: 3px #f5a841 solid;
        // @include background;
    }
    font-style: italic;
    .black-and-white {
        width: unset;
        cursor: default;
        background-color: unset;
        color: #333;
    }
    .target,
    .target1,
    .target2,
    .target3 {
        display: none;
    }
    .target#div3,
    .target1#div8,
    .target2#div11,
    .target3#div13 {
        display: flex;
    }
    #yoya175Lulka {
        font-size: 45px;
    }
    .youtube-block {
        color: $descriptionTextColor;
        background-color: unset;
        img {
            margin: 0;
        }
        h5 {
            font-family: 'Conduit';
            font-size: 20px;
            margin-bottom: 0;
        }
        &:hover {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
    .item {
        box-shadow: 0 0 5px #D3D3D3;
        max-width: 85%;
        margin: 0 auto;
        background-color: white;
    }
    h1 {
        font-size: 67px;
        color: $headerColor;
    }
    img {
        max-width: 255px;
        display: block;
        margin: 0 auto;
    }
    h2,
    small,
    p {
        font-style: normal;
    }
    small {
        margin-bottom: 1rem;
        display: block;
        .surprize {
            color: #ff3d24;
        }
    }
    .free-delivery {
        color: $priceColor;
        font-size: 20px;
        text-transform: uppercase;
    }
    h2 {
        color: $productName;
        font-size: 36px;
    }
    p {
        font-size: 36px;
        color: $priceColor;
        margin-bottom: 0;
    }
    a {
        cursor: pointer;
        color: #fff;
        background-color: $headerColor;
        font-size: 25px;
        width: 100%;
        display: block;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
        &.activeted {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.activeted1 {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.activeted2 {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.activeted3 {
            color: #000;
            text-decoration: underline;
            background-color: unset;
        }
        &.get {
            font-family: "Open Sans";
            font-style: normal;
            font-size: 19px;
            text-transform: uppercase;
            background-color: $viewMore;
            color: $textColor;
            width: 40%;
            margin: 0 auto;
            border-radius: 5px;
        }
        &.view-more {
            background-color: unset;
            color: $priceColor;
            text-decoration: underline;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    #product {
        h1 {
            font-size: 36px;
            &#yoya175Lulka {
                font-size: 26px;
            }
        }
        a {
            font-size: 18px;
        }
        img {
            max-width: 225px;
        }
        .youtube-block {
            h5 {
                font-size: 20px;
            }
        }
    }
}