$headerColor:#f5a841;
#we-work {
    font-style: italic;
    h1 {
        font-size: 67px;
        color: $headerColor;
    }
    .right-side {
        font-style: italic;
        .head-text {
            h2 {
                color: $mainTextColor;
                font-size: 87px;
            }
            h3 {
                font-size: 55px;
            }
        }
        .price {
            font-size: 40px;
            .line-through {
                text-decoration: line-through;
                color: $mainTextColor;
            }
            span {
                color: $mainTextColor;
            }
        }
        form {
            background-color: $formBg;
            input {
                border-radius: 0;
                border: 1px #fff solid;
                &::placeholder {
                    font-size: 13px;
                    color: $descriptionTextColor;
                }
            }
            button {
                background-color: $buttonBg;
                width: 100%;
                @include button;
            }
        }
        .under-form {
            h3 {
                color: $mainTextColor;
                font-size: 30px;
            }
            .youtube-block {
                color: $descriptionTextColor;
                h5 {
                    font-family: 'SignPainter';
                    font-size: 32px;
                    margin-bottom: 0;
                }
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #we-work {
        h1 {
            font-size: 36px;
        }
        .right-side {
            .head-text {
                h2 {
                    font-size: 60px;
                }
                h3 {
                    font-size: 36px;
                }
            }
            .price {
                font-size: 34px;
            }
        }
    }
}